$text-color: #494748;
$text-color-ligther: #5f585b;
$text-color-subtitle: #fa568c;

$status-online: #5aec90;

$background-color-app: #edebec;
$background-color-alt: #54bae2;

$button-color: #3c3c3c;
$button-color-alt: #e28154;