@import 'variables';

body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: $background-color-app;

  .actions {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .description {
    padding: 10px;

    &__title {
      color: $text-color;
      font-size: 20px;
      font-weight: bold;
    }

    &__location {
      color: $text-color-subtitle;
      font-size: 12px;
      font-weight: bold;
    }

    &__info {
      color: $text-color-ligther;
      margin: 10px 0;
    }
  }

  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    color: white;
    font-size: 16px;
    margin: auto;
    display: flex;
    align-items: center;
    font-weight: bolder;
  }

  .page {
    &__profile {
      &--alt {
        background-color: $background-color-alt
      }
    }
  }

  .profile {
    padding: 10px 0;
    display: flex;
    flex-direction: column;

    &__card {
      margin: 10px 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__image {
      width: 50vmin;
      height: 50vmin;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: auto;
        height: 100%;
        margin-left: -50px;
      }
    }

    &__state {
      background-color: $status-online;
      color: white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      font-size: 14px;
      text-align: center;
    }
  }
}

.btn {
  background-color: $button-color;
  color: #bababa;
  border: 1px thistle;
  padding: 15px 30px;

  &--transparent {
    padding: 10px;
    background-color: transparent;
    border: none;
  }

  &--alt {
    background-color: $button-color-alt;
    color: $text-color;
    font-weight: bold;
  }
}
