@import "variables";
@import "mixins";

.section {
  display: none;
  height: 100vh;

  &--active {
    display: flex;
  }
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: $background-color-app;

  .actions {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 80px;
    overflow: hidden;

    ul {
      list-style-type: none;
      width: 50vw;
      padding: 0px;

      li {
        word-wrap: break-word;
      }
    }

    &__conversation {
      height: 75vh;
      overflow-y: scroll;
      margin-bottom: 20px;
      width: 100vw;
      display: flex;
      justify-content: center;
    }

    &__messages {
      &--me {
        @include messageBox();
        background-color: white;
      }

      &--friend {
        @extend .chat__messages--me;
        &::before {
          border-bottom-color: $background-color-alt;
          left: 100%;
        }
        background-color: $background-color-alt;
        color: white;
      }

      &__image {
        &--me {
          width: 50px;
          height: 50px;
          background-color: azure;
          position: relative;
          display: flex;
          right: 85px;
          border-radius: 50%;
          bottom: 25px;
          background-image: url(../images/husky-small.jpg);
        }
        &--friend {
          @extend .chat__messages__image--me;
          background-color: yellowgreen;
          right: calc(-100% - 30px);
          bottom: 25px;
          background-image: url(../images/husky-girl-small.jpg);
        }
      }
    }
  }

  .description {
    padding: 10px;

    &__title {
      color: $text-color;
      font-size: 20px;
      font-weight: bold;
    }

    &__location {
      color: $text-color-subtitle;
      font-size: 12px;
      font-weight: bold;
    }

    &__info {
      color: $text-color-ligther;
      margin: 10px 0;
    }
  }

  .navbar {
    width: 100%;
    height: 60px;
    background-color: #555;
    overflow: auto;
    display: flex;
    position: fixed;
    z-index: 10;

    &__title {
      font-size: 16px;
      align-items: center;
      font-weight: bolder;
      color: white;
      justify-content: center;
      display: flex;
      width: 100%;
    }
  }

  .page {
    width: 100%;

    &__profile {
      @extend .page;

      &--alt {
        background-color: $background-color-alt;
      }
    }

    &__chat {
      @extend .page;
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;

    &__card {
      margin: 10px 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__image {
      width: 50vmin;
      height: 50vmin;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: auto;
        height: 100%;
        margin-left: -50px;
      }
    }

    &__state {
      background-color: $status-online;
      color: white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      font-size: 14px;
      text-align: center;
    }
  }
}

.btn {
  background-color: $button-color;
  color: #bababa;
  border: 1px thistle;
  padding: 15px 30px;

  &__navbar {
    @extend .btn;
    position: fixed;
    z-index: 10;
    background-color: transparent;
    border: none;
  }

  &--alt {
    background-color: $button-color-alt;
    color: $text-color;
    font-weight: bold;
  }
}
